<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.simplisell">


    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:screenOrientation="portrait">

        <activity android:name=".presentation.userprofileactivity.ProfileInformation" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.userprofileactivity.UsersOwnAds" android:screenOrientation="portrait" />
        <activity android:name=".presentation.postingadactivity.ViewAdOfOtherUser" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.postingadactivity.EditAd" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.postingadactivity.ViewAdOfCurrentUser" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.userprofileactivity.UserProfileMenu" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.loginactivity.SignUp" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.postingadactivity.PostAd" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.loginactivity.Login" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.loginactivity.ForgetPassword" android:screenOrientation="portrait"/>
        <activity android:name=".presentation.Messages" />
        <activity android:name=".presentation.SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.useradminactivity.AdminHomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.AdminHomeScreen"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>



</manifest>