<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simplisell">

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-feature android:name="android.hardware.camera"></uses-feature>



    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/twotone_sentiment_satisfied_white_48"
        android:label="@string/app_name"
        android:roundIcon="@drawable/twotone_sentiment_satisfied_white_48"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".presentation.UserProfileActivity.ProfileInformation">

        </activity>
        <activity android:name=".presentation.UserProfileActivity.UsersOwnAds" />
        <activity android:name=".presentation.PostingAdActivity.ViewAdOfOtherUser" />
        <activity android:name=".presentation.PostingAdActivity.EditAd" />
        <activity android:name=".presentation.PostingAdActivity.ViewAdOfCurrentUser" />
        <activity android:name=".presentation.UserProfileActivity.UserProfileMenu" />
        <activity android:name=".presentation.LoginActivity.SignUp" />
        <activity android:name=".presentation.PostingAdActivity.PostAd" />
        <activity android:name=".presentation.LoginActivity.Login" />
        <activity android:name=".presentation.MainActivity" />
        <activity android:name=".presentation.LoginActivity.ForgetPassword" />
        <activity android:name=".presentation.UserAdminActivity.ReportedAds" />
        <activity android:name=".presentation.UserAdminActivity.ReportedUsers" />
        <activity android:name=".presentation.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


    </application>



</manifest>